@model IEnumerable<NetCoreMVC.Models.CityDto>
@{
    Layout = "../_Layout";
}

<div style="float: right;">
    <a href="@Url.Action("Create", "Cities")" class="btn btn-default">Add City <i class="fas fa-plus"></i></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div style="float: right;">
                    <a href="@Url.Action("Edit", "Cities", new {item.Id})"><i class="fas fa-edit fa-lg"></i></a>
                    <a href="@Url.Action("Details", "Cities", new {item.Id})"><i class="fas fa-book fa-lg"></i></a>
                    <a href="@Url.Action("Delete", "Cities", new {item.Id})"><i class="far fa-trash-alt fa-lg"></i></a>
                    
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
